<?xml version="1.0"?> 
<connectionStrings>
  
  <!--&uhu=(ô.ô)-->
  <remove name="server"/>
  <add name="server" connectionString="Data Source=COR-W81-101;
    Initial Catalog=Blogz;
    Persist Security Info=False;
    User Id=ApertureWebServices;
    Password=TOP_SECRET;
    MultipleActiveResultSets=False;
    Packet Size=4096;
    Application Name=&quot;MyBlog&quot;" 
    providerName="System.Data.SqlClient"/>
    
  <remove name="COR-W81-101"/>
  <add name="COR-W81-101" providerName="System.Data.SqlClient" connectionString="Data Source=COR-W81-101;Initial Catalog=Blogz;Integrated Security=True;Pooling=False;Application Name=&quot;MyBlog&quot;" />
  <!--
  <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=Blogz;User Id=ApertureWebServices;Password=TOP_SECRET;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;MyBlog&quot;;" providerName="System.Data.SqlClient"/>
   -->
   
</connectionStrings>
