@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        
        <img src="@Url.Action("RadarSample")" alt="foo" style="float: left;" />


        <img src="@Url.Action("ChartSample")" alt="bar" style="float: left;"  />



    </div>
</body>
</html>
