
@model MyBlogCore.Controllers.BlogController.BlogIndex


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

    @Html.DisplayFor(m => m.lsBlogEntries)

</body>
</html>
